@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script type="text/javascript">

    (function () {
        var postData = {};
        postData.name = 'World!';
        $.ajax({
            data: postData,
            dataType: 'json',
            success: function(r) {
                alert(r.Result);
            },
            type: 'GET',
            url: 'servicestack/store'
        });
        //$.getJSON('servicestack/hello/World!', function (r) {
        //    alert(r.Result);
        //});
    })();
    
    
</script>